@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pretendard';
}
html,
body {
  font-size: 62.5%;
  margin: 0;
}

@layer components {
  ._pos-center {
    @apply left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4;
  }
}
